* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(255, 255, 255);
}
.background {
    background-image : url("cover.jpg") ;
    height : 50% ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;  
    text-align: center;
}
.cards {
    background-color: cornsilk;
    width: 300px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 70%;
    padding: 30px;
    margin: 2px;
    border-radius: 3px;
}
p {
    font-size: 19px;
    padding: 2px;
    color: rgb(37, 37, 37);
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
}
h4 {
    padding: 3px;
}
.prag {
    font-size: 16px;
    color: rgb(51, 49, 49);
    
}
/* nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    z-index: 999;
} */
/* .div2 {
    
    background-color: cornsilk;
    width: 300px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 120%;
    padding: 30px;
}
.div3 {
    background-color: cornsilk;
    width: 300px;
    height: 100px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 120%;
    right: 50.4%;
    padding: 30px;

} */

/* span {
    background-color: beige;
    padding: 40px ;
    position: absolute ;
    bottom: 50% ;
    right: 0px ;
} */