* {
    padding: 0px;
    margin: 0px
}
nav {
    text-align: center;
    font-size: 25px;
    background-color: rgb(211, 32, 32);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px;
}
.myClass {
    width: 100%;
    height: 200px;
    background-color: rgb(228, 168, 188);
    position: absolute;

}
.login {
    background-color: rgb(172, 171, 171);
    width: 19.49%;
    padding: 6px;
    display: inline-block;
    border: 4px green dotted;
    
}
.links {
    background-color: rgb(172, 171, 171);
    padding: 6px;
    width: 20%;
    height: 220px;
    padding-top: 25px;
    position: absolute;
    top: 95px;
    /* display: inline-block; */
     /* border: 4px green dotted; */
} 
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 30px 0px ; 
}
a{
    text-align: center;
    padding: 4px;
    margin: 2px;
    margin-left: 30px;
    background-color: rgb(228, 168, 188);
    color: brown;
    border-radius: 3px;
    display: inline-block;
}
.about {
    position: absolute;
    top: 10px;
    left: 23%; 
}
h2 {
    margin: 5px;

}
p {
    color: rgb(190, 10, 10);
    font-size: 18px;
}
table {
    border: 1px black solid;
    text-align: center;
    margin-top: 30px;
}
td {
    padding: 6px;
    color: brown;
} 
